body {
    margin: 0;
    background: #f7f7f7;
    font-family: Arial, sans-serif;
}

/* HEADER */
header {
    width: 100%;
    height: 60px;           
    padding: 0 40px;        
    background: #222;
    color: #fff;
    display: flex;
    align-items: center;    
    justify-content: space-between;
}

header nav a {
    line-height: 60px;      
}

.login-btn {
    background: red;
    padding: 8px 15px;
    border-radius: 5px;
}

/* BODY */
.container {
    width: 1200px;
    margin: 30px auto;
}

.section-title {
    font-size: 26px;
    margin: 30px 0 15px;
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-bottom: 40px;
}

.movie-card {
    background: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.movie-card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.movie-card h3 {
    font-size: 18px;
    margin-top: 10px;
}

.buy-btn {
    background: red;
    color: white;
    width: 100%;
    padding: 10px;
    border: none;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
}

/* FOOTER */
footer {
    width: 100%;
    background: #f1efe5;
    padding: 30px;
    margin-top: 40px;
}

.footer-row {
    display: flex;
    justify-content: space-between;
}

footer .col h4 {
    margin-bottom: 10px;
}

footer .col p {
    margin: 6px 0;
}

footer .copyright {
    text-align: center;
    margin-top: 25px;
}
